<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title>Samsung | Coveo</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&amp;display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://static.cloud.coveo.com/searchui/v2.7968/7/css/CoveoFullSearch.min.css" integrity="sha512-tfvkdC1he/nwwFbCfPfFYa7PlN9aX+CEmmceZIQ8MHhgKAaW+CNnNaVSLTGc+Wsxmcz8Rj1vbLWguGG4JCuPGw==" crossorigin="anonymous" />
    <link rel="stylesheet" href='css/coveo_custom.css'>
</head>
<body>
    <div id="search" class="CoveoSearchInterface Samsung" data-enable-history="true" data-results-per-page="15" data-maximum-age="0">
        <div class="CoveoFolding"></div>
        <div class="CoveoTriggers"></div>
        <div class="CoveoAnalytics" data-search-hub="Commerce"></div>
        <div class="coveo-search-section myCustomClass">
            <div class="CoveoSearchbox" data-enable-omnibox="true"></div>
        </div>
        <div class="coveo-tab-section">
            <a class="CoveoTab myCustomCLass" data-id="All" data-caption="All"></a>
            <a class="CoveoTab myCustomCLass" data-id="Product" data-caption="Product" data-expression="@source==&quot;Products&quot;"></a>
            <a class="CoveoTab myCustomCLass" data-id="youtube" data-caption="YouTube" data-expression="@source==&quot;Uk Youtube&quot;"></a>
            <a class="CoveoTab myCustomCLass" data-id="support" data-caption="Support" data-expression="@source==&quot;Uk Support&quot;"></a>
            <a class="CoveoTab myCustomCLass" data-id="consumer" data-caption="Website" data-expression="@source==&quot;Uk Consumer&quot;"></a>
            <a class="CoveoTab myCustomCLass" data-id="faq" data-caption="FAQ" data-expression="@source==&quot;FAQs&quot;"></a>
        </div>
        <div class="coveo-main-section">
            <div class="wrapper-custom">
                <div class="coveo-facet-column">
                    <div class="CoveoFacet myCustomClass" data-title="Product Type" data-field="@sku_type" data-tab="Product" data-sort-criteria="score"></div>
                    <div class="CoveoFacet myCustomClass" data-field="@colors" data-title="Colors" data-tab="Product" data-sort-criteria="score"></div>
                    <div class="CoveoFacet myCustomClass" data-title="Memory" data-field="@memory" data-tab="Product" data-sort-criteria="score"></div>
                    <div class="CoveoFacet myCustomClass" data-title="Size" data-field="@product_size" data-tab="Product" data-sort-criteria="score"></div>
                    <div class="CoveoDynamicFacetManager">
                        <div class="CoveoDynamicFacet myCustomClass" data-title="Category" data-field="@category" data-tab="faq, support"></div>
                        <div class="CoveoDynamicFacet myCustomClass" data-title="Category" data-field="@ytcategory" data-tab="youtube"></div>
                        <div class="CoveoDynamicFacet myCustomClass" data-title="Source" data-field="@source" data-tab="All" data-id="sourceFacet"></div>
                        <div class="CoveoDynamicFacet myCustomClass" data-title="Category" data-field="@sku_type" data-tab="All" data-depends-on="sourceFacet"></div>
                        <div class="CoveoDynamicFacet myCustomClass" data-title="Colors" data-field="@colors" data-tab="All" data-depends-on="sourceFacet"></div>
                        <div class="CoveoDynamicFacet myCustomClass" data-title="Memory" data-field="@memory" data-tab="All" data-depends-on="sourceFacet"></div>
                        <div class="CoveoDynamicFacet myCustomClass" data-title="Size" data-field="@product_size" data-tab="All" data-depends-on="sourceFacet"></div>
                    </div>
                </div>
                <div class="coveo-results-column">
                    <div class="CoveoShareQuery"></div>
                    <div class="CoveoPreferencesPanel">
                        <div class="CoveoResultsPreferences"></div>
                        <div class="CoveoResultsFiltersPreferences"></div>
                    </div>
                    <div class="CoveoTriggers"></div>
                    <div class="CoveoBreadcrumb"></div>
                    <div class="CoveoDidYouMean"></div>
                    <div class="coveo-results-header">
                        <div class="coveo-summary-section">
                            <span class="CoveoQuerySummary">
                                <div class="coveo-show-if-no-results"></div>
                            </span>
                            <span class="CoveoQueryDuration"></span>
                        </div>
                        <div class="coveo-result-layout-section">
                            <span class="CoveoResultLayout"></span>
                        </div>
                        <div class="coveo-sort-section">
                            <span class="CoveoSort" data-sort-criteria="relevancy" data-caption="Relevance"></span>
                            <span class="CoveoSort" data-sort-criteria="date descending,date ascending" data-caption="Date"></span>
                        </div>
                    </div>

                    <div class="CoveoHiddenQuery"></div>
                    <div class="CoveoErrorReport" data-pop-up="false"></div>
                    
                    <div class="CoveoResultList myCustomClass" data-layout="list" data-wait-animation="fade" data-auto-select-fields-to-include="true">
                        <script id="FAQ" class="result-template" type="text/html" data-layout="list" data-condition="raw.source == &#x27;FAQs&#x27;">
                            <div class="coveo-result-frame support-frame">
                                <div class="coveo-result-row">
                                    <div class="coveo-result-cell support-icon__container">
                                        <span class="support-icon faq-icon">FAQ</span>
                                    </div>
                                    <div class="coveo-result-cell" >
                                        <a class="CoveoResultLink" data-title-template='${raw.question}'></a>
                                        <p class="CoveoFieldValue" data-field="@answer"></p>
                                        <div class='support__footer'>
                                            <span>
                                                Category:
                                            </span>
                                            <span class='CoveoFieldValue' data-field="@category"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </script>
                        <script id="uk-support" class="result-template" type="text/html" data-layout="list" data-condition="raw.source == &#x27;UK Support&#x27;">
                            <div class="coveo-result-frame support-frame">
                                <div class="coveo-result-row">
                                    <div class="coveo-result-cell support-icon__container">
                                        <span class="support-icon faq-icon">UK</span>
                                    </div>
                                    <div class="coveo-result-cell" >
                                        <a class="CoveoResultLink" data-title-template='${raw.title}'></a>
                                        <p class="CoveoFieldValue" data-field="@excerpt"></p>
                                        <div class='support__footer'>
                                            <span>
                                                Category:
                                            </span>
                                            <span class='CoveoFieldValue' data-field="@category"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </script>
                        <script id="YouTubeVideo" class="result-template" type="text/html" data-layout="list" data-field-filetype="YouTubeVideo">
                            <div class="coveo-result-frame">
                                <div class="coveo-result-row row-align-center">
                                    <div class="coveo-result-cell thumbnail-cell">
                                        <span class="CoveoYouTubeThumbnail">
                                        </span>
                                    </div>
                                    <div class="coveo-result-cell" >
                                        <div class="coveo-result-row">
                                            <div class="coveo-result-cell">
                                                <a class="CoveoResultLink">
                                                </a>
                                            </div>
                                            <div class="coveo-result-cell">
                                                <span class="CoveoFieldValue" data-field="@date" data-helper="dateTime"></span>
                                            </div>
                                        </div>
                                        <div class="coveo-result-row" style="margin-top:10px;">
                                            <div class="coveo-result-cell">
                                                <span class="CoveoExcerpt"></span>
                                            </div>
                                        </div>
                                        <div class="coveo-result-row" style="margin-top:10px;">
                                            <div class="coveo-result-cell">
                                                <span class="CoveoFieldValue" data-field="@author" data-text-caption="Author" style="margin-right:30px;"></span>
                                                <span class="CoveoFieldValue" data-field="@ytvideoduration" data-helper="timeSpan" data-helper-options-is-milliseconds="false" data-text-caption="Length" style="margin-right:30px;"></span>
                                                <span class="CoveoFieldValue" data-field="@ytviewcount" data-text-caption="Views" style="margin-right:30px;"></span>
                                                <span class="CoveoFieldValue" data-field="@language" data-text-caption="Language" style="margin-right:30px;"></span>
                                            </div>
                                        </div>
                                        <div class="coveo-result-row">
                                            <div class="coveo-result-cell">
                                                <div class="CoveoMissingTerms"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </script>
                        <script id="Default" class="result-template" type="text/underscore" data-layout="list">
                            {{
                                var childCount = childResults.length;
                                var usp = raw.marketing_specs;
                            }}
                            <div class="coveo-result-frame myCustomClass">
                                <div class="coveo-result-row row-align-center">
                                    <div class="coveo-result-cell img-cell">
                                        <img class="product-img" src="https://images.samsung.com/is/image/samsung/<%- raw.images_url[0] %>"/>
                                    </div>
                                    <div class="coveo-result-cell result-content">
                                        <a class="CoveoResultLink"></a> 
                                        {{ 
                                            if(raw.colors.length === 1) { 
                                        }}
                                            <span class='swatche' style='background-color: {{= raw.colors_code }}'></span>
                                        {{
                                            }
                                        }}
                                        {{
                                            if(!!usp) { 
                                        }}
                                        <ul class="usp-list">
                                        {{
                                            for(var i = 0; i < usp.length; i++){
                                        }}
                                            <li>
                                                <%= usp[i] %>
                                            </li>
                                        {{
                                            }
                                        }}
                                        </ul>
                                        {{
                                            }
                                        }}
                                        <div class='results-colors'>
                                            {{ if (childCount > 0) { }}
                                            <b>Also available in:</b>
                                                <span class="swatches"> 
                                                {{
                                                    for (i=0; i < childCount; i++) {
                                                    var colors = childResults[i].raw.colors;
                                                    var colors_code = childResults[i].raw.colors_code;
                                                }} 
                                                    <span class="swatche" style="background-color:{{- colors_code}}" title="{{- colors }}"></span>
                                                {{
                                                    }
                                                }}
                                                </span>
                                            {{
                                            }
                                            }}
                                        </div>
                                    </div>
                                    <div class="coveo-result-cell" style="width: 70px;">
                                        <%- raw.pricedisplay %>
                                    </div>
                                </div>
                            </div>
                        </script>
                    </div>
                    <div class="CoveoPager"></div>
                    <div class="CoveoLogo"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://static.cloud.coveo.com/searchui/v2.7610/js/CoveoJsSearch.min.js" class="coveo-script"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            Coveo.SearchEndpoint.configureCloudV2Endpoint(
                "",
                ""
            );
          Coveo.init(document.querySelector('#search'));
        })
    </script>
    <script src="https://static.cloud.coveo.com/searchui/v2.7968/7/js/templates/templates.js" integrity="sha512-uW3NknXMN/BgHpDIGvg5cLvAN5ExL+hsyIz4o7q9oJtnIPZlG0rg5QM+YruoDwJx4P2jpV9vDyZpMJz2iLCs6w==" crossorigin="anonymous"></script>
    <script class="coveo-script" src="https://static.cloud.coveo.com/searchui/v2.7968/7/js/CoveoJsSearch.Lazy.min.js" integrity="sha512-ytIBl1VF8X6GgL2hl5i1YmLekIJ10Roe7eElWxx2INR3rtLABrQxSobTOFRR3fCZCBPybRLE/Hr4FJIYjdCpow==" crossorigin="anonymous"></script>
    <script src="https://static.cloud.coveo.com/searchui/v2.7968/7/js/cultures/en.js" integrity="sha512-hOeBcpTm2vrkWZL9gPnyqQNGYth+TS92FrEqRxju7mg8B4cBQ031AUgPqj6kx2bUjL/wfybTQNZ2jWQHj5bJjQ==" crossorigin="anonymous"></script>
</body>
</html>